<div class="example red">

  <h2>Choose your Archetype</h2>

  <div>
    <input placeholder="Search Archetypes">

    <select>
      <option>Birth Year</option>
      <option>Name</option>
    </select>
  </div>

  <div>
    Sex:
    <button (click)="setSex('Male')"   [class.buttonSelected]=" filterProperties.sex  === 'Male'   ">Male</button>
    <button (click)="setSex('Female')" [class.buttonSelected]=" filterProperties.sex  === 'Female' ">Female</button>
    <button (click)="setSex('Other')"  [class.buttonSelected]=" filterProperties.sex  === 'Other'  ">Other</button>
    <button (click)="setSex('')"       [class.buttonSelected]=" filterProperties.sex  === ''       ">All</button>

    Race:
    <button (click)="setRace('Human')" [class.buttonSelected]=" filterProperties.race === 'Human' ">Human</button>
    <button (click)="setRace('Droid')" [class.buttonSelected]=" filterProperties.race === 'Droid' ">Droid</button>
    <button (click)="setRace('')"      [class.buttonSelected]=" filterProperties.race === ''      ">All</button>
  </div>   
                                                                                                  
</div>

